        .header {
            background-color:white;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .login {
            background-color: red;
            margin-top: -100px;
            color: black;
            text-decoration: none;
        }
         .login:hover {
            color: aqua;
            font-size: 25px; 
        }
        .FormLogIn {
            margin-top: 100px;
            margin-bottom: 100px;
            position: center;
            width: 30%;
            display: inline-block;
            background-color:#FBB1B1;
            padding-top: 50px;
            padding-bottom: 50px;
             }
         #FormLaporkan label {
            display: inline-block;
            
            width: 10%; 
            text-align: left;
            padding-right: 10px;
            margin-top: 10px;
        }
         #FormLaporkan input, textarea {
            display: inline-block;
            
            width: 20%; 
            text-align: left;
            padding-right: 10px;
        }

        #FormLaporkan input #submit_laporan {
            width: 50px;
        }

        #FormSaran label {
            display: inline-block;
            
            width: 10%; 
            text-align: left;
            padding-right: 10px;
            margin-top: 10px;
        }
         #FormSaran input, textarea {
            display: inline-block;
            
            width: 20%; 
            text-align: left;
            padding-right: 10px;
        }

       

        .navbar {
            background-color: red;
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }

        .dropdown-content {
            background-color: silver;
        }

        .dropdown-content {
        display: none;
        }


        .navbar a:hover {
        color: aqua;
        font-size: 25px;
       }


        .navbar a {
            color: black;
            text-decoration: none;
        }

        .content img {
            width: 100%;
            
        }
        .content {
            background-color: silver;
            text-align: center;
            
        }

        .footer {
            background-color:red;
            color:black;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        .alamat_sekre {
            width: 100%;
            display: flex;
            justify-content: end;
        }